{% extends 'Base.html' %}

{% block title %}
About|Cochin Niagra
{% endblock %}

{% block content %}

<div class="Home_about">
    <div class="home_about_left">
        <img src="https://images.pexels.com/photos/804129/pexels-photo-804129.jpeg" alt="img">
    </div>
    <div class="home_about_right">
        <h1 style="color: rgb(3, 68, 3);">About Us</h1>
        <p>
            Cochin Niagara is a premier taxi service based in Cochin, Kerala. We specialize in providing reliable
            and comfortable transportation solutions for travelers exploring the scenic beauty and rich cultural
            heritage of Kerala. Our fleet includes well-maintained sedans, tempo travellers, and luxury urbania
            traveller, all operated to the highest standards to ensure a safe and enjoyable journey. With
            experienced drivers and a strong focus on customer satisfaction, Cochin Niagara is committed to making
            every trip smooth, dependable, and memorable.
        </p>
    </div>
</div>
    <div class="customer_support_section container">
        <div class="row customer_support_inner">
            <div class="col-lg-3">
                <img src="https://images.squarespace-cdn.com/content/v1/65d7d040de618a40003c8fc7/dbd1d62e-e6ae-4851-acd0-df702608aac3/Egar+Electrical+24+7+Emergency+Service+Electrician+Brisbane.png?format=1500w"
                    alt="img" width="85" height="85">
                <h3>24/7 Customer Support</h3>
            </div>
            <div class="col-lg-3">
                <img src="https://images.squarespace-cdn.com/content/v1/6705af73b2f6d61f2f1005ab/4cc9d52f-26d5-42e5-8613-6908eb512483/FutureFeed_Iconography__Quality.png?format=1000w"
                    alt="img" width="75" height="75">
                <h3>Safety First</h3>
            </div>
            <div class="col-lg-3">
                <img src="https://png.pngtree.com/png-clipart/20250206/original/pngtree-stamp-designs-with-certified-text-vector-png-image_20346884.png"
                    alt="img" width="90" height="90">
                <h3>Certified</h3>
            </div>
            <div class="col-lg-3">
                <img src="https://www.wiscassetford.com/static/dealer-15080/wizford-certified-whybuy.png" alt="img"
                    width="80" height="80">
                <h3>Standards</h3>
            </div>
        </div>
    </div>
{% endblock %}