.vehicle-card{
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.vehicle-card:hover {
    animation: bounceHover 0.6s;
}
.vehicle-card .card-body{
    color: rgb(2, 63, 2);
}

@keyframes bounceHover {
    0%   { transform: scale(1); }
    30%  { transform: scale(1.05); }
    50%  { transform: scale(0.98); }
    70%  { transform: scale(1.02); }
    100% { transform: scale(1); }
}